<div class="jumbotron">
    <h1 class="display-4">Ventas Online V 1.0!</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda sed inventore minus esse fuga odit quidem praesentium eveniet et quisquam? Non debitis vitae modi repudiandae nostrum reprehenderit doloremque voluptates id.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>