<div class="card-bg-dark text-white">
    <div class="card-header" style="background: #1b4f72;">{{titulo}}
        <button class="boton" type="button" [routerLink]="['/productos']">Regresar</button>
    </div>
    <div class="card-body text-primary" style="background: burlywood">
        <form #productoForm="ngForm">
            <div class="form-group row">
                <label for="descripcion" class="col-form-label col-sm-2">Descripcion</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="producto.descripcion" name="descripcion" #descripcion="ngModel" placeholder="Ingrese la descripcion del producto">
                </div>
            </div>
            <div class="form-group row">
                <label for="categoria" class="col-form-label col-sm-2">Categoria</label>
                <div class="col-sm-6">
                    <select name="categoria" class="form-control" [(ngModel)]="producto.categoria" class="select-ancho">
                      <option [ngValue]="undefined">-----Seleccionar una categoria-----</option>
                      <option *ngFor="let categoria of categorias" [ngValue]="categorias">
                        {{categoria.descripcion}}
                      </option>
                    </select>
                </div>
                <div class="form-group row">
                    <label for="tipoEmpaque" class="col-form-label col-sm-6">Tipo de Empaque</label>
                    <div class="col-sm-6">
                        <select name="tipoEmpaque" class="form-control" [(ngModel)]="producto.tipoEmpaque" class="select-ancho">
                      <option [ngValue]="undefined">-----Seleccionar un tipo de empaque-----</option>
                      <option *ngFor="let tipo of tipoEmpaques" [ngValue]="tipoEmpaque">
                        {{tipo.descripcion}}
                      </option>
                    </select>
                    </div>
                </div>
                <div class="form-group row" class="col-form-label col-sm-8">
                    <button class="btn btn-primary" role="button" (click)="create()">Crear</button>
                </div>
            </div>
        </form>
    </div>
</div>