<div class="abrir-Modal" *ngIf="modalProductoService.modal">
    <div class="modal" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" *ngIf="!producto.codigoProducto">{{titulo}}</h5>
                    <h5 class="modal-title" *ngIf="producto.codigoProducto">Actualizar Producto</h5>
                    <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="card-body text-primary" style="background: burlywood">
                            <form #productoForm="ngForm">
                                <div class="form-group row">
                                    <label for="descripcion" class="col-form-label col-sm-2">Descripcion</label>
                                    <div class="col-sm-6" *ngIf="producto">
                                        <input type="text" class="form-control" [(ngModel)]="producto.descripcion"
                                            name="descripcion" #descripcion="ngModel"
                                            placeholder="Ingrese la descripcion del producto">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="categoria" class="col-form-label col-sm-2">Categoria</label>
                                    <div class="col-sm-6" >
                                        <select [compareWith]="compararCategoria" name="categoria" class="form-control" [(ngModel)]="producto.categoria">
                                            <option *ngIf="!producto.codigoProducto" [ngValue]="undefined">-----Seleccionar una categoria-----</option>
                                            <option *ngFor="let categoria of categorias"
                                                [ngValue]="categoria">
                                                {{categoria.descripcion}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="tipoEmpaque" class="col-form-label col-sm-2">Tipo de Empaque</label>
                                    <div class="col-sm-6" >
                                        <select [compareWith]="compararTipoEmpaque" name="tipoEmpaque" class="form-control"
                                            [(ngModel)]="producto.tipoEmpaque" class="select-ancho">
                                            <option *ngIf="!producto.codigoProducto" [ngValue]="undefined">-----Seleccionar un tipo de empaque-----
                                            </option>
                                            <option *ngFor="let tipo of tipoEmpaques" [ngValue]="tipo">
                                                {{tipo.descripcion}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-form-label col-sm-8">
                                        <button  *ngIf="!producto.codigoProducto" class="btn btn-primary" role="button" (click)="create()">Crear</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button *ngIf="producto.codigoProducto" class="btn btn-primary" role="button" (click)="update()">Actualizar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="cerrarModal()" type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>